@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
  }

/* component */
.body_Sports_club {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%; /* на всякий случай, чтобы он занимал весь экран */
}

.body_Sports_club::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* По умолчанию стоит 0, а нужно 100%  для отображения*/
    width: 100%;
    background-image: url("images/bg-sport.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.15;
}


.body_Cybersports_clubs {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%; /* на всякий случай, чтобы он занимал весь экран */
    background-image: url("images/bg-cyber.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    box-shadow: inset 1024px 1792px #0000008f;
    color: white;
    overflow-x: hidden;
}

.body_Educations_clubs {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%; /* на всякий случай, чтобы он занимал весь экран */
    background-image: url("images/bg-edu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    box-shadow: inset 1024px 1792px #0000008f;
    color: white;
    overflow-x: hidden;
}
.body_Board_clubs {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%; /* на всякий случай, чтобы он занимал весь экран */
    background-image: url("images/board game.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    /* box-shadow: inset 1024px 1792px #0000008f; */
    color: white;
    overflow-x: hidden;
}
.body_Art_clubs {
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100%; /* на всякий случай, чтобы он занимал весь экран */
    background-image: url("images/bg-art.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    box-shadow: inset 1024px 1792px #ffffffad;
    overflow-x: hidden;
}



.container {
    margin: 0 20px;
}
.header-header_Sports_club {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #00c6fb, #005bea);
    color: white;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.header-header_Cybersports_clubs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FF2C2C 50%, #990000 100%);
    color: white;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.header-header_Educations_clubs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0B42CF 50%, #010158 100%);
    color: white;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.header-header_Board_clubs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FFBF00 50%, #A04A09 100%);;
    color: white;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.header-header_Art_clubs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #00cca0 50%, #0970a0 100%);
    color: white;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
}
.icon {
    height: 20px;
    width: 20px;
}


.header {
    position: fixed;
    width: 100%;
}

.icon {
    height: 20px;
    width: 20px;
}

.header-title {
    font-weight:bold;
}

.detail-club__title {
    margin: 23px 0;
    text-align: center;
    font-size: 20px;
}

.limiter {
    max-width: 262px;
    max-height: 279px;
}


/* element */
.dropbtn {
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
}
.panel--popup{
    position: relative;
    display: inline-block;
    transition: ease-in-out 0.3s;
}
.panel--popup:focus{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.popup-content{
    display: none;
    position: absolute;
    background-color: #0085D8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.popup-content a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}
.popup-content a:hover{
    background-color: #016eb8;
}
.popup-content a:focus{
    background-color: #016eb8;
    outline: 0;
    box-shadow: 0px 1px 7px 8px rgba(30, 35, 88, 0.4) inset;
}
.cnt{
    border: solid 1px white;
    margin: 0 15px 0px ;
    border-radius: 15px;
}
.popup-content.show {
    display:block;
}
.main{
    padding-top: 60px;
}
.detail-club__title {
    text-align: center;
    font-size: 20px;
}
.picture-club {
    display: flex;
    justify-content: center;
}

.picture-club__block {
    border: 1px solid #D4D4D4;
    padding: 20px;
}
.picture-club__block_grey {
    border: 1px solid #D4D4D4;
    padding: 20px;
}

.descriptopn-club {
    margin-top: 32px;
}

.descriptopn-club__block1 {
    display: flex;
    justify-content: space-between;
}

.description-club__criteria {
    max-width: 202px;
    margin-right: 15px;
}

.description-club__groups {
    margin-left: 15px;
}

.description-club__criteria div {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 16px;
}

.description-club__criteria span {
    font-weight: 500;
}

.description-club__groups div{
    font-weight: bold;
}

.description-club__groups span {
    font-weight: 500;
}

.groups-component {
    margin-bottom: 5px;
}

.groups {
    font-size: 14px;
}

.see_more_Sports_club {
    cursor: pointer;
    font-size: 13px;
    color: #005BEA;
    font-weight: 300;
    background-color: transparent;
    border: none;
}

.see_more_Cybersports_clubs {
    cursor: pointer;
    font-size: 13px;
    color: #FF2C2C;
    font-weight: 300;
    background-color: transparent;
    border: none;
}

.see_more_Art_clubs {
    cursor: pointer;
    font-size: 13px;
    color: #00a82d;
    font-weight: 300;
    background-color: transparent;
    border: none;
}

.see_more_Educations_clubs {
    cursor: pointer;
    font-size: 13px;
    color: #0066ff;
    font-weight: 300;
    background-color: transparent;
    border: none;
}

.see_more_Board_clubs {
    cursor: pointer;
    font-size: 13px;
    color: #FFBF00;
    font-weight: 300;
    background-color: transparent;
    border: none;
}




.places {
    margin-top: 11px;
    font-size: 20px;
    color: red;
}

.descriptopn-club__block2 {
    display: inline-block;
    padding: 12px 12px;
    margin: 17px 0;
    border: 1px solid #D4D4D4;
}
.descriptopn-club__block2_black {
    display: inline-block;
    padding: 12px 12px;
    margin: 17px 0;
    border: 1px solid #303030;
}

.descriptopn-club__block2 div {
    font-weight: bold;
}

.descriptopn-club__block2 span {
    font-weight: 500;
}
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
.modalWindow {
    position: relative;
}

.date {
    padding: 20px 0;
}